#header {
	height; 100vh;
}

body {
	color: #555;
  font-family: "Lato",Arial,sans-serif;
  font-size: 13px;
  font-spacing: 5px;
  border: 0px 10px 50px 10px;
  width: 100%;
	margin: 0px;
}

h1 {
  font-family: "Lato",Arial,sans-serif;
  font-size: 65px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #d3efea;
  text-transform: capitalize;
  padding: 300px 0px 400px 0px;
}

h2 {
  font-family: "Lato",Arial,sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #d3efea;
  /*text-decoration: underline;*/
  padding: 60px 0px 5px 0px;
}

/* unvisited link */
a:link {
    color: #c9e5e0;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #c9e5e0;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #555;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #c9e5e0;
    text-decoration: none;
}

.wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

#header { }
#header-title { }

#tagline {
  font-family: "Lato",Arial,sans-serif;
  font-size: 25px;
  font-weight: light;
  text-align: right;
  padding: 100px 0px 200px 0px;
  margin: 50px;
}

#tagline p { }

#about {
	padding: 5px 90px 30px 0px;
  margin: 50px;
}
#about p {
	/*padding: 0px 250px 0px 0px;*/
	width: 60%;
}

#about-title { }

#client-header {
  color: white;
  padding: 60px 0px 0px 0px;
}

#client {
  background-color: #d3efea;
  margin: 5px 0px 6px 0px; /* 5px top, 10px right, 6px bottom, 8px left */
}

#clients {
	text-align:center;
}

#client img {
	max-width: 90%;
}

#contact {
	padding: 10px 0px 0px 25px;
	margin: 30px;
}
#contact p { }
#contact-title { }

#footer {
  font-family: "Lato",Arial,sans-serif;
  padding: 200px 0px 0px 50px;
}

#footer img {
	padding: 0px 10px 0px 0px;
}

#footer p { }
#footer a { }

a.MyButton {
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #d3efea;
  padding: 10px 20px 10px 20px;
  border: solid #cccccc 1px;
  text-decoration: none;
	display: inline-block
}

a.MyButton:hover {
  color: #d3efea;
  background: #ffffff;
  border: 1px solid #cccccc;
}

@media (max-width: 700px) {
	body {
        overflow-x: hidden !important;
				border: 0px 10px 50px 10px;
				width: 100%;
				margin: 0px;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

	h1 {
		font-size: 70px;
	}

	h2 {
		padding: 0px 0px 0px 0px;
	}

	#about {
		padding: 0px 0px 20px 0px;
		margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 50px;
	}

	#about p {
		width: 90%;

	#tagline {
	  font-size: 18px;
		font-weight: regular;

		.container {
      padding:0;
      margin:0;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}
